# SECURITÉ
SECRET_KEY=votre_cle_secrete_django
DEBUG=False

# CORS (séparés par des virgules)
CORS_ALLOWED_ORIGINS=https://votre-domaine.com,https://api.votre-domaine.com

# CINETPAY
CINETPAY_API_KEY=votre_api_key
CINETPAY_SITE_ID=votre_site_id
CINETPAY_SECRET_KEY=votre_secret_key
